@import '_fonts.scss';
@import '_var.scss';

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;    
}

html,
body {
  @include Sans(16px, 300, 16px);
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  @include hidden;
}

.btn {
  @include btn;
}

.container {
  @include container;
}


.header-container {
  position: relative;
  width: 100%;
  min-height: 186px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(#f0c52e, .5)), color-stop(100%, white), to(white));
  background: linear-gradient(to bottom, rgba(#f0c52e, .5) 100%, white 100%, white 100%);
  // background-color: rgba($bgColor, .5);
  padding: 0 60px;
  padding-bottom: 61px;


  //Логотип
  .main-logo {
    @include GilroyB(48px, 400, 48px);
    position: relative;
    top: -65%;
    margin-bottom: 0;
    // left: 24px;
    text-transform: uppercase;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  //Поиск, войти, сравнить, карзина 
  .main-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    label {
      display: inline-block;
      position: absolute;
      font-size: 0;
      width: 17px;
      height: 16px;
      transform: translate(50%, 50%);
      background-image: url('/img/search.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transform: translate(50%, 50%);
      -moz-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      -o-transform: translate(50%, 50%);
    }

    //кнопка поиска
    .btn-serch {
      visibility: hidden;
      border-width: 0;
      background-color: transparent;
      border: 2px solid black;
      margin-left: -4px;
      line-height: 24px;
    }

    //Поиск по сайту
    .main-serch {
      border-width: 0;
      width: calc(441px - 50px);
      background-color: transparent;
      padding: 2px 36px;
      line-height: 24px;
      outline: none;
      border-bottom: 2px solid transparent;

      &:focus,
      &:active {
        border-bottom-color: black;

        ~.btn-serch {
          visibility: visible;

          &:hover {
            color: white;
            background-color: black;
          }

          &:active {
            opacity: .5;
          }
        }
      }
    }

    //кнопка поиска


    .user-login {
      width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    li {
      padding-left: 20px;

      &:nth-child(2) {
        margin-left: auto;
      }
    }

    .nav-targ {
      a {
        color: black;

        &::before {
          content: '';
          display: inline-block;
          transform: translateX(-11px);
          width: 10px;
          height: 10px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-transform: translateX(-11px);
          -moz-transform: translateX(-11px);
          -ms-transform: translateX(-11px);
          -o-transform: translateX(-11px);
        }

        &:hover {
          opacity: .5;
        }

        &:active {
          opacity: .3;
        }
      }
    }

    li:nth-child(1) a::before {
      background-image: url('/img/user.svg');
    }

    li:nth-child(2) a::before {
      background-image: url('/img/compare.svg');
    }

    li:nth-child(3) a::before {
      background-image: url('/img/cart.svg');
    }

  }

  .main-nav {
    margin-top: 20px;

    .main-catalog {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      li:nth-child(1) {
        margin-right: auto;
      }

      li:nth-child(2) {
        margin-right: 20px;
      }

      li:nth-child(4) {
        margin-left: auto;
      }

      .catalog-shop {

        // @include outline;
        .flex-wrap {
          // @include outline;
          position: absolute;
          display: none;
          margin: 0 -10px;
          padding: 12px 0;
          width: 100%;
          min-height: 130px;
          z-index: 55;
          background-color: #f7e296;
          -webkit-transform: translate(-60px);
                  transform: translate(-60px);

          &::before {
            content: '';
            display: block;
            padding-left: 60px;
            z-index: -10;
          }

          li {
            padding-right: 15px;
            padding-bottom: 5px;

            a {
              @include Sans(15px, 300, 36px);
              text-transform: none;
              letter-spacing: 0.15px;
            }
          }
        }

        &:hover {
          .flex-wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
        }

        .catalog-items {
          padding: 0;
        }

        >a::after {
          content: url('/img/plus.png');
          padding-left: 15px;
        }

      }

      .catalog-options {
        margin: 0 10px;

        a {
          @include GilroyB(18px, 400, 24px);
          text-transform: uppercase;
          letter-spacing: 3.6px;
          color: black;

          &:hover,
          &:focus {
            opacity: .5;
          }

          &:active {
            opacity: .3;
          }
        }
      }
    }
  }
}




.modal-contact {
  width: 960px;
  height: 553px;
  padding: 90px;
  background-color: #ffffff;
  
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);

          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          
  label {
    @include GilroyB(18px, 400, 24px);

  }

  .flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    p {
      width: 100%;

      &:first-child {
        padding-right: 10px;
      }
    }
  }

  input,
  textarea {
    font-size: 14px;
    padding: 10px;
    width: 100%;
    background-color: #f2f2f2;
    border: none;
    margin-top: 10px;
    outline-color: $bgColor;
  }

  textarea {
    height: 156px;
    resize: none;
  }

  button[type="submit"] {
    margin-top: 20px;
  }

  .close-modal-btn {
    background: rgba($bgColor, .5);
    border: none;
    border-radius: 50%;
    font-size: 0;
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    position: absolute;
    right: 22px;
    top: 22px;

    &:hover {
      background-color: $bgColor;
    }

    &:active,
    &:focus {
      opacity: .3;
    }

    span {

      &::after,
      &::before {
        content: '';
        display: block;
        background-color: #ffffff;
        width: 36px;
        height: 5px;
        position: absolute;

      }

      &::before {
        transform: rotate(-45deg) translateX(3px);
        -webkit-transform: rotate(-45deg) translateX(3px);
        -moz-transform: rotate(-45deg) translateX(3px);
        -ms-transform: rotate(-45deg) translateX(3px);
        -o-transform: rotate(-45deg) translateX(3px);
      }

      &:after {
        transform: rotate(45deg) translateY(-3px);
        -webkit-transform: rotate(45deg) translateY(-3px);
        -moz-transform: rotate(45deg) translateY(-3px);
        -ms-transform: rotate(45deg) translateY(-3px);
        -o-transform: rotate(45deg) translateY(-3px);
      }
    }
  }
  
}

.big-map {
  padding: 0 !important;
  position: fixed;
  width: 960px;
  height: 535px;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  background-color: white;
  // background-image: url('/img/map-big.jpg.png');
  // background-position: center;
  // background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  display: none;

  .close-modal-btn {
    background: rgba($bgColor, .5);
    border: none;
    border-radius: 50%;
    margin: 0;
    font-size: 0;
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    position: absolute;
    right: 22px;
    top: 22px;

    &:hover {
      background-color: $bgColor;
    }

    &:active,
    &:focus {
      opacity: .3;
    }

    span {

      &:after,
      &::before {
        content: '';
        display: block;
        background-color: #ffffff;
        width: 36px;
        height: 5px;
        position: absolute;

      }

      &::before {
        transform: rotate(-45deg) translateX(3px);
        -webkit-transform: rotate(-45deg) translateX(3px);
        -moz-transform: rotate(-45deg) translateX(3px);
        -ms-transform: rotate(-45deg) translateX(3px);
        -o-transform: rotate(-45deg) translateX(3px);
      }

      &::after {
        transform: rotate(45deg) translateY(-3px);
        -webkit-transform: rotate(45deg) translateY(-3px);
        -moz-transform: rotate(45deg) translateY(-3px);
        -ms-transform: rotate(45deg) translateY(-3px);
        -o-transform: rotate(45deg) translateY(-3px);
      }
    }
  }


}

/*==== Главвная топ-3 товаров  =====*/
.main-summary {
  position: relative;
  min-width: 488px;
  min-height: 488px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, rgba(#f0c52e, .5)), color-stop(17%, white), to(white));
  background: linear-gradient(to bottom, rgba(#f0c52e, .5) 17%, white 17%, white 100%);

  .summary-img {
    height: 488px;
  }
}

.summary {
  // @include outline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;

  .summary-img {
    margin: 0 40px;
  }
}

.summary-description {
  width: 600px;
}

.summary-description h2 {
  @include GilroyB(47px, 800, 56px);
  letter-spacing: 0.17px;
  margin-top: 60px;
  top: -10px;
  position: relative;

  &::after {
    @include GilroyB(179px, 400, inherit);
    position: absolute;
    color: white;
    top: -30px;
    right: 60px;
  }
}

.summary-monopod {
  
  h2 {
    &::after {
      content: "01";
    }
  }
}

.summary-watch {
  
  h2 {
    &::after {
      content: "02";
    }
  }
}

.summary-quadro {
  
  h2 {
    &::after {
      content: "03";
      z-index: -1;
    }
  }
}




.summary-description h2::before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  background-color: #fff;
  width: 100px;
  height: 7px;
}

.summary-description>p {
  max-width: 400px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
}

.summary-description .specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;

  li {

    // max-width: 120px;
    p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: space-between;
          -ms-flex-align: space-between;
              align-items: space-between;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      span {
        padding-top: 15px;
      }
    }

  }
}

.summary-description .specifications li:not(:last-child) {
  margin-right: 70px;
}

.summary-description .specifications p {
  font-size: 30px;
}

.summary-description .specifications p span {
  font-size: 13px;
}


.summary-select {
  position: absolute;
  z-index: 662;
  bottom: 190px;
  right: 150px;


  .summary-sellect_btn {
    padding: 0;
    border: none;
    background-color: transparent;

    &::after {
      content: '';
      position: absolute;
      border-width: none;
      // outline: none;
      width: 14px;
      height: 14px;
      border: 1.4px solid black;
      border-radius: 60%;
      z-index: 222;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);

      -webkit-border-radius: 60%;
      -moz-border-radius: 60%;
      -ms-border-radius: 60%;
      -o-border-radius: 60%;
      background-color: transparent;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &:active,
    &:focus,
    &:disabled {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 665;
        //right: 50%;
        //bottom: 50%;
        transform: translate(-50%, 50%);
        width: 6px;
        height: 6px;
        border: 1px solid black;
        border-radius: 50%;
        // background-color: black;
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}

/*==== Главвная топ-3 товаров конец  =====*/




.shop-nav {
  margin-top: 100px;

  .shop-nav-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    li:nth-child(2) {
      p {
        overflow: hidden;

        a {
          height: 116px;
          -ms-flex-item-align: end;
              align-self: flex-end;
        }
      }
    }

    .shop-nav-item {
      &:active {
        opacity: .9;
      }

      p {
        @include GilroyB(18px, 400, 24px);
        padding: 0;
        padding-top: 10px;
        margin: 0;
        width: 160px;

        a {
          color: black;
        }
      }
    }
  }


  .shop-nav-item {
    &:hover {
      .shop-image {
        background-color: #f0c52e;
      }
    }

    .shop-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #f7e296;
      width: 160px;
      height: 160px;

      cursor: pointer;
    }
  }
}




/* ==== Услуги ==== */
.services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 90px 0;
  margin-bottom: 140px;
}

.services::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  bottom: -60px;
  height: 77%;
  z-index: -10;
  background-color: lightgray;
}

.services-btn-group {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 5px solid black;
  width: 278px;
  min-height: 300px;

  .services-btn {
    width: 160px;
    margin-top: 10px;

    &:hover,
    &:focus,
    &:active {
      color: #f7e184;
      transition: .6s;
      -webkit-transition: .6s;
      -moz-transition: .6s;
      -ms-transition: .6s;
      -o-transition: .6s;

      &:before {
        right: -110px;
        background-color: black;



      }

    }

    &:disabled {
      text-align: left;
      color: #f7e184;
      width: 270px;
      background-color: black;

      &:hover {
        &:before {
          right: 0;

        }

      }
    }
  }

}

.services-item>p {
  width: 465px;
}

.services-description-img {
  width: 150px;

}

.services-description {
  min-height: 300px;
  margin-top: 90px;
}

.services-description h2 {
  @include GilroyB(47px, 400, 50px);
  margin: 0;
  margin-top: 35px;
}

.services-description p {
  color: #464646;
  font-size: 15px;
}

.services-description-img {
  min-height: 30px;
  margin-top: 90px;
}



/* ==== Услуги конец ==== */




/* ====  Логотипы брендов ==== */
.brands-logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  li {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);

    &:hover {
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
    }
  }
}

/* ====  Логотипы брендов  конец==== */

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;

  div {
    padding: 20px;

    h2 {
      @include GilroyB(48px, 400, inherit);
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -60px;
        background-color: #000;
        width: 100px;
        height: 5px;
      }
    }

    p {
      color: #464646;
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  .about-us,
  .contact {
    position: relative;

    ul {
      margin: 80px 0;

      li {
        padding: 20px 0;
        font-weight: bold;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 8px;
          height: 12px;
          margin-top: 4px;
          margin-left: -40px;
          background-image: url('/img/slider-button.svg');
          background-position: 0 0;
          background-repeat: no-repeat;
          opacity: .5;
        }
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

}

// .about-company div {
//   padding: 20px;
// }

// .about-company div h2 {
//   @include GilroyB(48px, 400, inherit);
//   position: relative;

// }

// .about-us {
//   position: relative;

//   .btn {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//   }
// }

// .about-us ul {
//   margin: 80px 0;
// }

// .about-us ul li {
//   margin: 20px 0;
// }

// .about-company div button {
//   margin-top: 80px;
// }

// .about-company div h2::before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: -60px;
//   background-color: #000;
//   width: 100px;
//   height: 5px;
// }

// .about-company div 

/* === ===  О компании конец === === */


/* ==== Футер ====*/
.main-footer {
  @include Sans(15px, 300, 30px);
  background-color: #464646;
  color: #ffffff;
  height: 100%;
  margin-top: 40px;

  a {
    color: #ffffff;
  }

  .footer-logo {
    @include GilroyB(48px, 400, inherit);
    color: #ffc600;
  }
}


.footer-top,
.footer-middle,
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.footer-top {
  .footer-user-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;

    a {
      @include Sans(15px, 300, 30px);
      color: white;

      &::before {
        content: '';
        display: inline-block;
        transform: translateX(-11px);
        width: 10px;
        height: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transform: translateX(-11px);
        -moz-transform: translateX(-11px);
        -ms-transform: translateX(-11px);
        -o-transform: translateX(-11px);
      }

      &:hover {
        opacity: .5;
      }

      &:active {
        opacity: .3;
      }
    }

    li:nth-child(1) a::before {
      background-image: url('/img/user-yellow.png');
    }

    li:nth-child(2) a::before {
      background-image: url('/img/compare-footer.png');
    }

    li:nth-child(3) a::before {
      background-image: url('/img/cart-footer.png');

    }

  }
}

.footer-middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  font-size: 18px;

  a {
    @include GilroyB(18px, 400, 24px);
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: white;
  }
}



.footer-bottom {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    li {
      margin: 0 10px;
    }
  }

  .social-btn-fb {
    &::before {
      content: url('/img/fb.png');
    }
  }

  .social-btn-inst {
    &::before {
      content: url('/img/inst.png');
    }
  }

  .social-btn-twitter {
    &::before {
      content: url('/img/tw.png');
    }
  }

  &::after {
    content: url('/img/logo-html.png');
    position: absolute;
    right: 0;
    bottom: 20%;
  }

  &::before {
    content: '';
    background-color: #ffc600;
    display: block;
    position: absolute;
    left: 0;
    bottom: 60%;
    width: 100px;
    height: 5px;
  }
}

/* ==== Футер конец====*/







/* === === Стилизация Catalog.html  === === */
.inner {
  .header-container {
    min-height: 186px;
    padding-bottom: 55px;

  }

  .main-footer {
    margin-top: 5px;
  }
}

.inner-page {

  .catalog-title {
    h2 {
      @include GilroyB(47px, 400, 48px);
    }

    ul {
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      li {
        a {
          @include Sans(14px, 400, 24px);
          color: #464646;

          &:hover {
            opacity: 0.6;
          }

          &:active {
            opacity: 0.3;
          }
        }

        &:not(:last-child)::after {
          content: url('/img/nav-arrow.svg');
          padding: 0 10px;
        }
      }
    }
  }

  .catalog {
    .btn {
      z-index: 3;
    }

    padding: 0;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;

    section {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      width: 460px;
      min-height: 1200px;
      background-color: #eeeeee;

      h3 {
        @include GilroyB(16px, 400, 24px);
        letter-spacing: .91px;
        text-align: center;
        padding: 20px;
        margin: 0;
        background-color: #dbdbdb;

      }

      form {
        margin-top: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        input {
          margin-right: 15px;
        }

        legend {
          @include GilroyB(18px, 400, 24px);
          padding-top: 20px;
          width: 201px;
          border-top: 1px solid #000;
        }

        .price-selection {
          min-height: 138px;
        }

        fieldset {
          .wrap {
            // @include outline;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            position: relative;

            .line {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 196px;
              height: 2px;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);
              background: linear-gradient(to right, #91c92f 0px, #91c92f 110px, #dbdbdb 110px, #dbdbdb 196px);
              font-size: 0;
            }

            .round__btn {
              position: relative;
              line-height: 0;
              font-size: 0;
              display: block;
              width: 22px;
              height: 22px;
              background: #fff;
              border-radius: 50%;
              -webkit-box-shadow: 2px 2px 2px 0 rgba(#000, 0.5);
                      box-shadow: 2px 2px 2px 0 rgba(#000, 0.5);
              z-index: 3;

              &:last-child {
                margin-right: 85px;
              }

              &::after {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: rgba(#000, 0.5);
                z-index: 4;
              }

              &::before {
                content: attr(value);
                position: absolute;
                width: 100px;
                z-index: 4;
                bottom: -10px;

                color: #464646;
                font-size: 13px;
                font-weight: 300;
                opacity: .5;
              }
            }
          }

          input {

            &[type="checkbox"] {
              visibility: hidden;

              +label {

                &::before {
                  content: '';
                  // border: 1px solid black;
                  // background-color: transparent;
                  background-image: url('/img/checkbox-off.svg');
                  background-repeat: no-repeat;
                  background-position: left center;
                  transform: translate(-20px, 5px);
                  display: inline-block;
                  height: 23px;
                  width: 27px;
                  -webkit-transform: translate(-20px, 5px);
                  -moz-transform: translate(-20px, 5px);
                  -ms-transform: translate(-20px, 5px);
                  -o-transform: translate(-20px, 5px);
                }
              }

              &:checked {
                +label {

                  &::before {
                    content: '';
                    //border: 1px solid black;
                    background-image: url('/img/checkbox-on.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    transform: translate(-20px, 5px);
                    display: inline-block;
                    height: 23px;
                    width: 27px;
                    -webkit-transform: translate(-20px, 5px);
                    -moz-transform: translate(-20px, 5px);
                    -ms-transform: translate(-20px, 5px);
                    -o-transform: translate(-20px, 5px);
                  }
                }


              }

            }

            &[type="radio"] {
              visibility: hidden;

              +label {

                &::before {
                  content: '';
                  // border: 1px solid black;
                  // background-color: transparent;
                  background-image: url('/img/radio-off.svg');
                  background-repeat: no-repeat;
                  background-position: left center;
                  transform: translate(-20px, 5px);
                  display: inline-block;
                  height: 25px;
                  width: 25px;
                  -webkit-transform: translate(-20px, 5px);
                  -moz-transform: translate(-20px, 5px);
                  -ms-transform: translate(-20px, 5px);
                  -o-transform: translate(-20px, 5px);
                }
              }

              &:checked {
                +label {
                  &::before {
                    content: '';
                    background-image: url('/img/radio-on.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    transform: translate(-20px, 5px);
                    display: inline-block;
                    height: 25px;
                    width: 25px;
                    -webkit-transform: translate(-20px, 5px);
                    -moz-transform: translate(-20px, 5px);
                    -ms-transform: translate(-20px, 5px);
                    -o-transform: translate(-20px, 5px);
                  }
                }


              }

            }
          }

          border: none;
          width: 210px;

        }


        .btn {
          width: 200px;
          margin: 0 auto;
        }
      }
    }
  }



  .catalog-contant {

    .content-sort {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #ebebeb;

      button {
        display: inline-block;
        padding: 0;
        border: none;
        background-color: transparent;
        outline: transparent;

        &:hover,
        &:focus {
          opacity: .5;
        }

        &:active {
          opacity: .3;
        }
      }

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        li {
          @include Sans(14px, 400, 18px);
          -webkit-box-flex: 0;
              -ms-flex: 0 0 130px;
                  flex: 0 0 130px;
          width: 130px;

          .active {
            a {
              color: #000;
            }
          }

          a {
            color: #464646;
          }

        }
      }

      div {
        margin-left: auto;
        margin-right: 140px;
        -ms-flex-item-align: center;
            align-self: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        a {
          display: block;
          width: 15px;
          height: 15px;
          background-position: center center;
          background-repeat: no-repeat;

          &:nth-child(1) {
            background-image: url('/img/icon-up-dir.svg');
            margin-right: 10px;

          }

          &:nth-child(2) {
            background-image: url('/img/icon-down-dir.svg');
          }

        }
      }

      h3 {
        @include GilroyB(16px, 400, 24px);
        letter-spacing: 0.91px;
        text-align: center;
        padding: 20px;
        margin: 0;
        margin-left: 20px;
      }
    }


    .catalog-items {
      margin-left: 40px;

      &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-left: -20px;
      }

      article {
        margin-left: 20px;
        max-width: 360px;

        .price-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;

          p {
            @include GilroyB(18px, 400, 24px);
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
          }

          span {
            @include Sans(16px, 300, 18px);
            color: #464646;
            letter-spacing: .16px;
            min-width: 80px;
          }
        }

        .catalog-items__img {
          overflow: hidden;

          position: relative;


          span {
            cursor: pointer;
            display: none;
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            z-index: 5;
          }

          .add-compare {
            @include Sans(13px, 300, 36px);
            color: #b4b4b4;
            top: 160%;

          }

          &:hover {
            span {
              display: block;
              top: 50%;
            }

            .add-compare {
              top: 60%
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 2px;
              right: 0;
              left: 0;
              background-color: rgba(#eeeeee, .8);
              z-index: 4;

            }
          }

        }
      }

    }
  }

  .pagination {
    background-color: #ebebeb;
    // display: flex;
    margin: 20px 40px;

    ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      .pagiation-item {
        a {
          display: inline-block;
          padding: 20px;
        }

        padding: 0;
        margin: 0;

        &:hover {
          background-color: rgba(#4b4b4b, .3);
        }
      }

      li {

        margin: 0 20px;

        &:first-child {
          margin-right: auto;
        }

        &:last-child {
          margin-left: auto;
        }

        @include GilroyB(16px, 400, 24px);
        letter-spacing: 0.91px;

        a {
          color: #000;

        }

      }
    }

  }

}



@keyframes drop{
 from{
   transform: translate(-50%, -50%) scale(0);
 } 
 50%{
  transform: translate(-50%, -50%) scale(.5);
 }
 to{
  transform: translate(-50%, -50%) scale(1);
} 
}
.modal-contact{
  display: none;
}

.drop{
  display: block !important;
  animation-timing-function: ease;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  // -webkit-animation-iteration-count: infinite;
  //         animation-iteration-count: infinite;
  
}
@keyframes scrol{
  from{
    // top: 50%;
    // left: 50%;
    // transform:  scale(1);
    opacity: 0;
    
  } 
 50%{
  opacity: .5;
  
 }
  to{
  //   top: 50%;
  //   left: 50%;
  //  transform:  scale(0);
  opacity: 1;
  
 } 
 }
 .scrol{
  // display: block !important;
  animation-timing-function: ease;
  -webkit-animation-name: scrol;
          animation-name: scrol;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  // -webkit-animation-iteration-count: infinite;
          // animation-iteration-count: infinite;
  
}
//inner-page



iframe{
  width: 100%;
  height: 100%;
  padding: 0;margin: 0;
  border: none;

}